@use 'base/variables' as v;
@use 'base/mixins' as m;
@use "sass:color";

.tabs{
    // display: flex;
    // justify-content: space-evenly;
    // align-items: center;
    // margin: 2.5rem 0;
    @include m.desktop{
        display: flex;
    }

    button{
        background-color: v.$azul;
        color: v.$blanco;
        padding: 1rem 3rem;
        border: none;
        font-size: 2rem;
        font-weight: v.$bold;
        text-transform: uppercase;
        display: block;
        width: 100%;
        margin-bottom: 2rem;
        transition: background-color 300ms ease;

        &:hover{
            cursor: pointer;
            background-color: color.scale(v.$azul, $lightness: -30%);;
        }

        &.actual{
            background-color: v.$blanco;
            color: v.$azul;
        }
    }
}